.blue-button {
    background-color: #2962FF;
    color: white;
    border-radius: 50%;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
}

.blue-button:hover::after {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    top: -50px;
    left: -50px;
    animation: ripple 1s linear;
}

@keyframes ripple {
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}
