.Nav {
    display: flex;
    justify-content: center;
}

img {
    width: 30px;
}

/* Media query for screens with a width of 801px or more */
@media screen and (min-width: 801px) {
    img {
        width: 50px;
    }
}